body {
    font-family: Arial, sans-serif;

    background: linear-gradient(135deg, #667eea, #764ba2);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    margin: 0;
}

.main {
    text-align: center;
}

h1 {
    color: #ffffff;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

.container {
    display: flex;
    gap: 30px;
}

.patient-box, .queue-box, .doctor-box {
    background: #ffffff;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 15px 30px rgba(0,0,0,0.15);

    text-align: center;
}

.patient-box h2 {
    color: #4a5568;
}

.queue-box h2 {
    color: #2c7a7b;
}

.doctor-box h2 {
    color: #805ad5;
}

input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #cbd5e0;
    border-radius: 5px;
}

button {
    padding: 8px 15px;
    background-color: #2c7a7b;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
}

button:hover {
    background-color: #285e61;
}

ul {
    list-style-type: none;
    padding: 0;
    color: #4a5568;
}

#tokenMsg {
    color: #2c7a7b;
    font-weight: bold;
    margin-top: 10px;
}
